<header>
<nav>
  <a href="/"><img alt="Logo" src="/logo.png" height="70"></a>
  <ul>
      <li>{{ partial "homelink.html" . }}</li>
      <li><a href="#">Leistungen</a>
          <ul>
                        <li><a href="/sql-anywhere">SAP SQL Anywhere</a></li>
                        <li><a href="/sql-schulung">SQL-Schulung</a></li>
                        <li><a href="/software-fuer-prospektverteilung">Software für Prospektverteilung</a></li>
                        <li><a href="/prospektverteiler-software-zsp">Prospektverteiler-Software ZSP</a></li>
                        <li><a href="/xojo">Xojo, die objektorientierte Entwicklungsumgebung</a></li>
                        <li><a href="/ninox">Ninox</a></li>
                        <li><a href="/ferag-string-erzeugen">FERAG-String erzeugen</a></li>
                      </ul>
      </li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
</nav>
