{{ define "homehero" }}
<h1>Machen Sie <u>mehr</u> aus Ihren Prozessen</h1>
<p>Oliver Jakoubek konzipiert und entwickelt datenbankbasierte Individualsoftware und Reporting-Frontends für moderne mittelständische Unternehmen. Weiss mit SQL und Microsoft Office umzugehen und versteht es, aus anspruchsvollen geschäftlichen Anforderungen verständliche Konzepte und funktionierende Anwendungen zu machen.</p>
<br>
<p><a href="#projekte"><i>Mehr erfahren</i></a><a href="/kontakt"><b>Anfragen &rarr;</b></a></p>
{{ end }}

{{ define "main" }}
<main>
  <hr>
  <section>
    <a id="projekte"></a>
    <header>
      <h2>Projekte &amp; Angebote</h2>
      <p>Eine Auswahl an neueren Kundenprojekten</p>
    </header>
    {{ partial "homepageprojekte.html" . }}
  </section>
  <hr>
  <section>
      <aside>
        <h3>Kontakt</h3>
        <p>Telefon <a href="tel:+49754490402000">+49 7544 90402000</a><br>
E-Mail <a href="mailto:info@jakoubek.net">info@jakoubek.net</a><br>
Xing <a href="https://www.xing.com/profile/Oliver_Jakoubek">Oliver_Jakoubek</a><br>
<a href="/kontakt">Kontaktformular</a></p>
        <h3>Firma</h3>
        <p>Oliver Jakoubek<br>
Software &amp; Beratung<br>
Maria-Lanz-Straße 20<br>
88677 Markdorf<br>
Deutschland</p>
      </aside>
      <aside>
        <h3>Stichworte</h3>
        <p>Individualsoftware. Datenbanken. APIs. <a href="/sql-schulung">SQL-Schulungen</a>. Datenbank-Schnittstellen für Import, Export und Abgleich. Datenbankentwicklung. Datenbankmodellierung. Datenbankadministration. <a href="/sql-anywhere">SAP SQL Anywhere</a>. Geocodierung. <a href="/xojo">Xojo</a>. <a href="/ninox">Ninox</a>. <a href="/ferag-string-erzeugen">FERAG-String</a>.</p>
      </aside>
  </section>
</main>
{{ end }}